<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.raymondsryang.life">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.StoryListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditStoryActivity"
            android:label="@string/activity_label_add_story"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.StoryDetailActivity" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/activity_label_setting"
            android:parentActivityName=".activity.StoryListActivity"/>
        <activity
            android:name=".activity.OpenSourceLicenseActivity"
            android:label="@string/activity_label_open_source_license"
            android:parentActivityName=".activity.SettingActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>